# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required.

You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#Lets now import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
#Lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\lenovo\chromedriver.exe")

In [18]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [19]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [20]:
#Find elements for job search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")   #Job search bar
search_field_designation.send_keys("Data Analyst")

In [21]:
#Entering the location using Xpath
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")   #Job search bar
search_field_location.send_keys("Bangalore")

In [22]:
#Clicking on the search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [23]:
#Declaring the variables
job_titles=[]
company_name=[]
location_list=[]
experience_list=[]
#Extract all the tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)

In [24]:
#Extracting the data of company Name
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)

In [25]:
#Extracting the details of locations
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in location_tags:
   # title=i.text
    location_list.append(i.text)
location_list.pop(3)
location_list.pop(8)

'(WFH during Covid)'

In [26]:
#Extracting the details of Experience
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in experience_tags:
   # title=i.text
    experience_list.append(i.text)

In [27]:
#Creating the data frame.
jobs=pd.DataFrame({'Title':job_titles[:10],'Name':company_name[:10],'Location':location_list[:10],'Experience':experience_list[:10]})
jobs

,Title,Name,Location,Experience
0,Senior Business Analyst - Data Sciences and Ad...,Vmware,Bangalore/Bengaluru,3-7 Yrs
1,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-6 Yrs
2,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru,0-5 Yrs
3,Senior Data Analyst,Capco,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",7-12 Yrs
4,Senior Data Analyst,Gsn Games India,Bangalore/Bengaluru,3-7 Yrs
5,Jr . Data Analyst,Armorblox,Bangalore/Bengaluru,0-2 Yrs
6,Data Analyst,G S E-COMMERCE PVT LTD,Bangalore/Bengaluru(Jayanagar),4-7 Yrs
7,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-7 Yrs
8,Data Analyst II,Cerner,Bangalore/Bengaluru,6-10 Yrs
9,Data Analyst - Python / SQL,Myntra,Bangalore/Bengaluru,1-4 Yrs

In [28]:
#Closing the automated chrome window
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [29]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [30]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [31]:
#Find elements for job search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")   #Job search bar
search_field_designation.send_keys("Data Scientist")

In [32]:
#Entering the location using Xpath
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")   #Job search bar
search_field_location.send_keys("Bangalore")

In [33]:
#Clicking on the search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [34]:
#Declaring the variables
job_titles=[]
company_name=[]
location_list=[]
experience_list=[]
#Extract all the tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)

In [35]:
#Extracting the company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)

In [36]:
#Extracting the locations
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in location_tags:
   # title=i.text
    location_list.append(i.text)
location_list.pop(3)

'(WFH during Covid)'

In [37]:
#Creating the data frame
jobs=pd.DataFrame({'Title':job_titles[:10],'Name':company_name[:10],'Location':location_list[:10]})
jobs

,Title,Name,Location
0,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
1,Staff Data Scientist,Walmart,Bangalore/Bengaluru
2,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
3,Senior Data Scientist,Walmart,Bangalore/Bengaluru
4,Cognitive/AI Senior Data Scientist,IBM,Bangalore/Bengaluru
5,Lead - Data Scientist,Applied Materials,Bangalore/Bengaluru
6,Data Scientist,Applied Materials,Bangalore/Bengaluru
7,Senior Associate - Data Scientist,Affine,Remote
8,Rolls-Royce Data Labs : Data Scientist,Rolls Royce,Bangalore/Bengaluru
9,Data Scientist,Applied Materials,Bangalore/Bengaluru

In [38]:
#To close the automated chrome window
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [39]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [40]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [41]:
#Find elements for job search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")   #Job search bar
search_field_designation.send_keys("Data Scientist")

In [42]:
#Entering the location using Xpath
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")   #Job search bar
search_field_location.send_keys("Delhi/NCR")

In [43]:
#Clicking on the search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [45]:
#Clicking on the Salary filter button
salary_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]")
salary_button.click()

In [46]:
#Clicking on the Salary filter button
location_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[12]/div[2]/div[2]")
location_button.click()

In [47]:
#Declaring the variables
job_titles=[]
company_name=[]
location_list=[]
experience_list=[]
#Extract all the tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)

In [48]:
#Extracting the company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)

In [49]:
#Extracting the locations
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in location_tags:
    location_list.append(i.text)

In [50]:
#Extracting the experience
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in experience_tags:
    experience_list.append(i.text)

In [51]:
#Creating the data frame
jobs=pd.DataFrame({'Title':job_titles[:10],'Name':company_name[:10],'Location':location_list[:10],'Experience':experience_list[:10]})
jobs

,Title,Name,Location,Experience
0,Data Scientist,Ashkom Media India Private Limited,"Noida, Bangalore/Bengaluru",3-6 Yrs
1,Associate Data Scientist,Optum,Gurgaon/Gurugram,1-5 Yrs
2,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,Gurgaon/Gurugram,2-5 Yrs
3,Data Scientist (freelance),2Coms,"New Delhi, Delhi",2-7 Yrs
4,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",0-4 Yrs
6,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs
7,Data Scientist,Boston Consulting Group,New Delhi,2-5 Yrs
8,Hiring For Senior Data Scientist-Noida,Lumiq.ai,"Noida, Greater Noida, Delhi / NCR",2-6 Yrs
9,Senior Data Scientist,iNICU,Delhi,1-5 Yrs

In [52]:
#To close the automated chrome window
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [53]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [54]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.flipkart.com/')

In [55]:
#Clicking on the Closing pop up window button
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [56]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")   #Job search bar
search_field.send_keys("Sunglasses")

In [57]:
#Closing the login pop up window
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [58]:
#Declaring the variables
brand_name=[]
product_details=[]
price_list=[]

#Extract all the tags having the Brand Name
for i in range(0,3):
    titles_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_tags:
        brand_name.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [59]:
#Extract all the price tags and details
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
    for i in price_tags:
        price_list.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [60]:
#Extract all the tags related to product details
for i in range(0,3):
    product_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product_tags:
        product_details.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [61]:
#Creating the data frame
df=pd.DataFrame({'Brand':brand_name[:100],'Product Details':product_details[:100],'Price':price_list[:100]})
df

,Brand,Product Details,Price
0,BAJERO,"UV Protection, Polarized, Riding Glasses Retro...","₹299₹1,39978% off\nFree delivery"
1,Resist,Polarized Wayfarer Sunglasses (Free Size),"₹349₹2,59986% off\nFree delivery"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),"₹799₹1,19933% off\nFree delivery"
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...","₹1,274₹8,00084% off\nFree delivery"
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹206₹99979% off\nFree delivery
...,...,...,...
95,Ray-Ban,Gradient Round Sunglasses (54),"₹854₹1,99957% off\nFree delivery"
96,New Specs,UV Protection Wayfarer Sunglasses (32),"₹329₹1,99983% off\nFree delivery"
97,PIRASO,UV Protection Rectangular Sunglasses (Free Size),₹647₹89928% off\nFree delivery
98,SRPM,Polarized Wayfarer Sunglasses (Free Size),"₹749₹2,50070% off\nFree delivery"
99,Arnette,"Polarized, UV Protection Retro Square Sunglass...","₹799₹1,99960% off\nFree delivery"

In [62]:
#Closing the automated chrome window
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [9]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [10]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [11]:
#Expad all the reviews
reviews_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span")
reviews_button.click()

In [13]:
#Declaring the variables
ratings=[]
review_summary=[]
full_review=[]

#Extracting all the tags of ratings
for i in range(0,10):
    rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        ratings.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [14]:
#Extracting tags and collecting the data of reviews
for i in range(0,10):
    review_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [15]:
#Extracting tags and collecting the data of reviews in detail
for i in range(0,10):
    full_review_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        full_review.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [17]:
#Creating the data frame
df=pd.DataFrame({'Rating':ratings,'Review Summary':review_summary,'Detailed Review':full_review})
df

,Rating,Review Summary,Detailed Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Terrific,Really worth of money. i just love it. It is t...
99,5,Classy product,Totally in love with this ❤ the camera quality...

In [18]:
#Closing the automated chrome window
driver.close()

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [13]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [14]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.flipkart.com/')

In [15]:
#Clicking on the Closing pop up window button
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [16]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")   #Job search bar
search_field.send_keys("sneakers")

In [17]:
#Utilizing the search functionality 
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [18]:
#Declaring the variables
brand_name=[]
product_details=[]
price_list=[]

#Extract all the tags having the Brand Name
for i in range(0,3):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        brand_name.append(i.text)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [20]:
#Extract all the tags related to product details
for i in range(0,3):
    product_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in product_tags:
        product_details.append(i.text)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [21]:
#Extract all the price tags and details
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
    for i in price_tags:
        price_list.append(i.text)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [22]:
#Creating the data frame
df=pd.DataFrame({'Brand':brand_name[:100],'Product Details':product_details[:100],'Price':price_list[:100]})
df

                  Brand Product Details                             Price
0        luxury fashion  luxury fashion  ₹499₹1,29961% off\nFree delivery
1                 Arivo           Arohi  ₹569₹1,99971% off\nFree delivery
2              URBANBOX           Echor                   ₹178₹99982% off
3                corsac        HOTSTYLE  ₹499₹1,49966% off\nFree delivery
4                BRUTON            PUMA  ₹295₹1,29977% off\nFree delivery
..                  ...             ...                               ...
95             Roadster        RapidBox  ₹799₹1,99960% off\nFree delivery
96              EMPTILE           Echor    ₹396₹99960% off\nFree delivery
97  World Wear Footwear          Chevit    ₹249₹49950% off\nFree delivery
98               corsac       bluemaker  ₹549₹1,49963% off\nFree delivery
99             RapidBox        Roadster  ₹299₹1,29976% off\nFree delivery

[100 rows x 3 columns]

In [23]:
#Closing automated chrome window
driver.close()

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [75]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [76]:
driver.get('https://www.myntra.com/shoes')

In [77]:
#Set the color filter to BLACK
color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [78]:
#Set the filter to Rs 7149 to Rs 14099
price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [79]:
#Declaring the variables
brand_name=[]
product_details=[]
price_list=[]
page_urls=[]

#Collecting the URL of all the pages
nxt_page = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))

In [80]:
#Extract all the tags having the Brand Name
for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        brand_name.append(i.text)
    brand_name   
    time.sleep(5)

In [82]:
#Extract all the tags having the product details
for url in page_urls[:2]:
    driver.get(url)
    product_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')  #for scrapping shoe Product details
    for i in product_tags:
        product_details.append(i.text)
    product_details   
    time.sleep(5)

In [83]:
#Extract all the tags having the price details
for url in page_urls[:3]:
    driver.get(url)
    price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')  #for scrapping shoe Product details
    for i in price_tags:
        price_list.append(i.text)
    price_list   
    time.sleep(5)

In [85]:
#Creating the data frame
df=pd.DataFrame({'Brand':brand_name[:100],'Product Details':product_details[:100],'Price':price_list[:100]})
df

,Brand,Product Details,Price
0,ALDO,Men Woven Design Sneakers,Rs. 13999
1,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
2,ALDO,Men Leather Driving Shoes,Rs. 12999
3,ALDO,Men Leather Loafers,Rs. 12999
4,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
...,...,...,...
95,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
96,ALDO,Textured Block Pumps,Rs. 7999
97,FILA,Women Colourblocked Leather Sneakers,Rs. 9999
98,ALDO,Leather Platform Mules,Rs. 9999
99,Puma,Muse X5 Crystal Galaxy Sneaker,Rs. 7999

In [86]:
#Closing the automated window
driver.close()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [19]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [20]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.amazon.in/')

In [21]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')   #Job search bar
search_field.send_keys("Laptop")

In [22]:
#Click on search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [23]:
#Set the color filter to to select i7 CPU
i7_filter=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i")
i7_filter.click()

In [24]:
#Set the color filter to to select i5 CPU
i5_filter=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[2]/span/a/div/label/i")
i5_filter.click()

In [25]:
#Declaring the variables
title_name=[]
ratings=[]
price_list=[]

#Extract the title of the laptop
titles_tags=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in titles_tags:
    title_name.append(i.text)

In [27]:
#Extract the price details
price_tags=driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-base"]')
for i in price_tags:
    price_list.append(i.text)

In [26]:
#Extract the ratings
rating_tags=driver.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tags:
   # title=i.text
    ratings.append(i.text)

In [28]:
#Creating the Data Frame. 
#The output was suggested by the mention after raising the ticket.
df=pd.DataFrame({'Title':title_name[:10],'Price':price_list[:10],'Ratings':ratings[:10]})
df

,Title,Price,Ratings
0,Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD...,"₹23,889\n₹34,890 (32% off)",
1,Acer Extensa 15 Thin & Light Laptop Intel Proc...,"₹28,790\n₹39,999 (28% off)",
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","₹26,990\n₹33,990 (21% off)",
3,Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...,"₹27,553\n₹40,490 (32% off)",
4,HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...,"₹25,390\n₹29,741 (15% off)",
5,Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD...,"₹23,889\n₹34,890 (32% off)",
6,Lenovo IdeaPad 3 Chromebook Intel Celeron N402...,"₹21,990\n₹34,890 (37% off)",
7,Lenovo IdeaPad 3 Chromebook Intel Celeron N402...,"₹15,990\n₹24,840 (36% off)",
8,AVITA SATUS ULTIMUS S111 NU14A1INC43PN-MB 14.1...,"₹21,990\n₹29,990 (27% off)",
9,"ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...","₹31,490\n₹38,990 (19% off)",

In [29]:
#Closing the automated window
driver.close()

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [30]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [31]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [32]:
#Click on the jobs category
jobs_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobs_button.click()

In [33]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')   #Job search bar
search_field.send_keys("Data Scientist")

In [34]:
#Click on search button
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [35]:
#Check mark the location
location_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]")
location_button.click()

In [36]:
#Enter the location to search
search_location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys("Noida")

In [37]:
#Select the location from the dropdown
radio_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input")
radio_button.click()

In [38]:
#Extract the job details
job_details=[]
job_tags=driver.find_elements_by_xpath('//div[@class="info"]')
for i in job_tags:
   # title=i.text
    job_details.append(i.text)

In [39]:
#Creating the data frame
df=pd.DataFrame({'Top 10 Data Scientist Jobs in Noida':job_details[:10]})
df

                 Top 10 Data Scientist Jobs in Noida
0  Machine Learning Engineer\nGENPACT India Priva...
1  Data Scientist- AI/ML- R&D\nEXL Services.com (...
2  Data Scientist\nGENPACT India Private Limited\...
3  Oracle HCM BI Technical Lead/Manager (People A...
4  Data Scientist with SAS\nTech Mahindra Ltd\n3....
5  Hiring For Data Scientist + Python/R+ Predicti...
6  Data Scientist - Immediate Joiners\nBristlecon...
7  Data Scientist - Machine Learning (5-14 yrs)\n...
8  Data Scientist\nAshkom Media India Private Lim...
9  Data Scientist- Fresher Opening - Newgen Softw...

In [40]:
#Closing the automated chrome window
driver.close()

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.

3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [4]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [5]:
#Click on the Salary category
salaries_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salaries_button.click()

In [6]:
#Search for the designation
search_field=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')   #Job search bar
search_field.send_keys("Data Scientist")

In [7]:
#Selecting the designation from drop down
#Mentor gave permission to manually select the desg "Data Scientist" from the dropdown after raising the ticket
designation_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/button/span')
designation_button.click()

In [8]:
#Declaring the variables
company_name=[]
salary_record=[]
exp_details=[]
avg_salary=[]
min_max_salary=[]
min_salary=[]
max_salary=[]

In [9]:
#Extracting the data of company name
company_tags=driver.find_elements_by_xpath('//div[@class="name"]/a')
for i in company_tags:
    company_name.append(i.text)

In [10]:
#Extracting the salary records 
records_tags=driver.find_elements_by_xpath('//span[@data-v-7f256731]')
for i in records_tags:
    salary_record.append(i.text)
salary_record[0::2]
exp_details=salary_record[1::2]

In [11]:
#Extracting the data of avg salary 
avgsalary_tags=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in avgsalary_tags:
    avg_salary.append(i.text)
del avg_salary[:9]

In [12]:
#Extracting the data of min and max salary from the scale
min_max_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in min_max_tags:
    min_max_salary.append(i.text)
del min_max_salary[:18]

In [13]:
min_salary=min_max_salary[0::2]
max_salary=min_max_salary[1::2]

In [14]:
#Creating the data frame.
df=pd.DataFrame({'Compary Name':company_name,'Salary Record':salary_record[0::2],'Experience':exp_details,"Average Salary":avg_salary,"Minimum Salary":min_salary,"Maxium Salary":max_salary})
df

,Compary Name,Salary Record,Experience,Average Salary,Minimum Salary,Maxium Salary
0,TCS,(787 Salaries),2-9 yrs exp,₹ 7.8L,₹ 4.5L,₹ 16.0L
1,Accenture,(471 Salaries),2-9 yrs exp,₹ 12.6L,₹ 5.5L,₹ 23.0L
2,IBM,(367 Salaries),2-11 yrs exp,₹ 13.1L,₹ 5.2L,₹ 25.0L
3,Cognizant,(304 Salaries),2-10 yrs exp,₹ 9.8L,₹ 5.0L,₹ 18.0L
4,Capgemini,(293 Salaries),2-8 yrs exp,₹ 8.5L,₹ 4.6L,₹ 15.0L
5,Infosys,(219 Salaries),2-8 yrs exp,₹ 9.1L,₹ 4.5L,₹ 24.0L
6,Tech Mahindra,(217 Salaries),2-13 yrs exp,₹ 7.8L,₹ 4.1L,₹ 16.5L
7,Wipro,(214 Salaries),2-9 yrs exp,₹ 9.6L,₹ 4.5L,₹ 18.2L
8,Deloitte,(161 Salaries),1-7 yrs exp,₹ 13.6L,₹ 7.0L,₹ 24.0L
9,Fractal Analytics,(151 Salaries),2-6 yrs exp,₹ 15.7L,₹ 9.7L,₹ 23.0L

In [15]:
#Closing the automated chrome window
driver.close()